{% extends "base.html" %}




{% block content %}


    <div class="container tim-container" style="max-width:1150px; padding-top:10px">
        <h1 class="text-center" style="font-size:100px; font-family: 'Hanna', sans-serif;">
            SomeLove
        </h1>

        <h2 class="text-center" style="font-family: 'Hanna', sans-serif;">Find out Your Crush's Mind</h2>
        <br>
        <hr>
        <p>

        <div class="space-30"></div>
        <h3 style="font-family: 'Jeju Gothic', sans-serif;">
            [Crush](noun)</h3>
        <h4 style="font-family: 'Jeju Gothic', sans-serif;">: a burning desire to be with someone who you find very attractive and extremely special
        </h4>

        <div class="space-30"></div>
        <hr>
        <br>

        <div class="space-30"></div>
        <h3 style="font-family: 'Jeju Gothic', sans-serif;">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Teens : I've gotta <b>study</b>. Need easy way to deal with my crush.
        </h3>
        <br>

        <h3 style="font-family: 'Jeju Gothic', sans-serif;" class="text-center">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Twenties : I have to get a job and <b>work</b>. I'm too busy for romance.
        </h3><br>

        <h3 style="font-family: 'Jeju Gothic', sans-serif;" class="text-right">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Thirties : Now, it's time for <b>marriage</b>. No more dreaming, it's reality.
        </h3>

        <div class="space-30"></div>
        <hr>
        <div class="space-30"></div>
        <h1 class="text-center" style="font-size: 200px;"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h1>
        <h2 style="font-size:50px; font-family: 'Jeju Gothic', sans-serif;" class="text-center"><b>What if</b> </h2>
        <h2 style="font-family: 'Jeju Gothic', sans-serif;" class="text-center">
             We can check our crushes' mind with <b>just one click</b>?
        </h2>
        <div class="space-30"></div>
        <h1 class="text-center" style="font-size: 200px;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></h1>
        <br>
        <h1 class="text-center" style="font-family: 'Hanna', sans-serif;"><strong>Now</strong><br><br>Turn your something into love with SomeLove!</h1>

        <div class="space-30"></div>
        </p>
        <!--     end extras -->
    </div>
    <hr>

    <div class="space-30"></div>
    <div class="container tim-container" style="max-width:80%; padding-top:2%">
        <h1 style="font-size:50px; font-family:'Hanna', sans-serif;">Tutorial</h1><br>
        <h4>Step1 &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;
            <span style="font-family: 'Jeju Gothic', sans-serif;">Gather friends to join SomeLove.</span>
        </h4>
        <h4>Step2 &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;
            <span style="font-family: 'Jeju Gothic', sans-serif;">Join easily using Facebook.</span>
        </h4>
        <h4>Step3 &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;
            <span style="font-family: 'Jeju Gothic', sans-serif;">Check my crush(es) to send an arrow.</span>
        </h4>
        <h4>Step4 &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;
            <span style="font-family: 'Jeju Gothic', sans-serif;">Send an arrow!</span>
        </h4>
        <h4>Step5 &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-heart" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;
            <span style="font-family: 'Jeju Gothic', sans-serif;">If you exchange arrows with your crush, you'll get a notification.</span>
        </h4>

        <h4>Step6 &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;
            <span style="font-family: 'Jeju Gothic', sans-serif;">Even if you are not immediately matched, just wait for 3 days with patience.</span>
        </h4>

        <h4>Step7 &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;
            <span style="font-family: 'Jeju Gothic', sans-serif;">You can send a new arrow after 3 days; the old one is automatically deleted.</span>
        </h4>

        <div class="space-30"></div>
        <h4>
            <small style="font-family:'Hanna', sans-serif;"><strong><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> TIPS</strong></small>
            <br>
            <small>
                <li>You can only send an arrow to FB friends who are also using the app. So, spread the word!</li>
            </small>
            <small>
                <li>You can send only one arrow at once.</li>
            </small>
            <small>
                <li>You can send a new arrow after 3 days; the old one is automatically deleted.</li>
            </small>
        </h4>
    </div>
    <div class="space"></div>
{% endblock %}