{% extends 'base.html' %}

{% block content %}
    <div class="container tim-container" style="max-width:1000px; padding-top:10px">
        <h1 class="text-center" style="font-size:50px; font-family: 'Hanna', sans-serif;">Link to Android App<br>
            <a href="market://details?id=com.somelove.jesikmin.somelove">
                <img alt="구글 플레이 스토어(웹)에서 다운받기"
                     src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png"/>
            </a>
        </h1>

        <br>

        <h1 class="text-center" style="font-size:50px; font-family: 'Hanna', sans-serif;">SomeLove Mobile Web<br>
            <a href="http://m.somelove.kr">
                <button type="button" class="btn btn-default"><h5><strong>Go to Mobile Web</h5><strong></button>
            </a>
        </h1>
    </div>

    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>

{% endblock %}